<!DOCTYPE HTML>
<!--suppress XmlDuplicatedId -->
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/home-style.css">
    <TITLE id="title">Orthodrome Calculator</TITLE>
    <META name="keywords" id="meta-keywords">
    <META name="description" id="meta-description">
</head>

<!--  BOOTSTRAP  -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script language="JavaScript">
    function initializeSides() {
        if (aLatSide.value == "")
            aLatSide.value = "N"
        if (aLongSide.value == "")
            aLongSide.value = "E"
        if (bLatSide.value == "")
            bLatSide.value = "N"
        if (bLongSide.value == "")
            bLongSide.value = "E"
    }

    function changeNorthSouth(side) {
        if (side.value == "N")
            {side.value = "S"}
        else
            {side.value = "N"}
    }

    function changeEastWest(side) {
        if (side.value == "E")
            {side.value = "W"}
        else
            {side.value = "E"}
    }
</script>


<body onload="initializeSides()">
<form id="form" name="form">

    <div class="textAreaColumn" style="margin-left: 30px; margin-top: 30px;">

        <div class="custom3">

            <div class="well custom_well">

                <table class='table borderless'>
                    <tr>
                        <td colspan="2">
                            <center id="input-parameters">Input parameters</center>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle">A</td>
                        <td><input type="text" th:field="*{aLatDegree}" name="aLatDegree" size="4"> °
                            <input type="text" th:field="*{aLatMinute}" name="aLatMinute" size="5"> '
                            <input type="text" th:field="*{aLatSide}" name="aLatSide" value="N" size="2"
                                   style="text-align:center" readonly="readonly" >
                            <input type="button" class="btn btn-default btn-xs custom_page" value="N/S"
                                    onclick="changeNorthSouth(aLatSide)">
                            <br>
                            <input type="text" th:field="*{aLongDegree}" name="aLongDegree" size="4"> °
                            <input type="text" th:field="*{aLongMinute}" name="aLongMinute" size="5"> '
                            <input type="text" th:field="*{aLongSide}" name="aLongSide" value="E" size="2"
                                   style="text-align:center" readonly="readonly" >
                            <input type="button" class="btn btn-default btn-xs custom_page" value="E/W"
                                   onclick="changeEastWest(aLongSide)">
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle">B</td>
                        <td><input type="text" th:field="*{bLatDegree}" name="bLatDegree" size="4"> °
                            <input type="text" th:field="*{bLatMinute}" name="bLatMinute" size="5"> '
                            <input type="text" th:field="*{bLatSide}" name="bLatSide" value="N" size="2"
                                   style="text-align:center" readonly="readonly" >
                            <input type="button" class="btn btn-default btn-xs custom_page" value="N/S"
                                   onclick="changeNorthSouth(bLatSide)">
                            <br>
                            <input type="text" th:field="*{bLongDegree}" name="bLongDegree" size="4"> °
                            <input type="text" th:field="*{bLongMinute}" name="bLongMinute" size="5"> '
                            <input type="text" th:field="*{bLongSide}" name="bLongSide" value="E" size="2"
                                   style="text-align:center" readonly="readonly" >
                            <input type="button" class="btn btn-default btn-xs custom_page" value="E/W"
                                   onclick="changeEastWest(bLongSide)">
                        </td>
                    </tr>
                </table>
            </div>

            <div class="btn-group margin">
                <input class="btn btn-default custom grey_2" id="clear-info-button">
                <input type="submit" class="btn btn-default custom grey_2" id="calculate-button">
            </div>


            <div class="cases-label" id="general-cases">General Cases</div>
            <div class="btn-group">
                <button type="button" class="btn btn-default custom grey_1 examples" id="general-example-01">
                    A(10°N;050°E)<br>B(20°N;170°E)
                </button>
                <button type="button" class="btn btn-default custom grey_1 examples">
                    A(50°N;020°W)<br>B(50°N;090°E)
                </button>
            </div>
            <br>
            <div class="btn-group">
                <button type="button" class="btn btn-default custom grey_1 examples">
                    A(50°N;030°E)<br>B(30°N;060°E)
                </button>
                <button type="button" class="btn btn-default custom grey_1 examples">
                    A(50°N;170°W)<br>B(10°S;100°W)
                </button>
            </div>
            <br>
            <div class="btn-group">
                <button type="button" class="btn btn-default custom grey_1 examples">
                    A(30°S;060°E)<br>B(40°S;140°E)
                </button>
                <button type="button" class="btn btn-default custom grey_1 examples">
                    A(20°S;100°W)<br>B(30°N;160°W)
                </button>
            </div>
            <br>
            <div class="btn-group margin">
                <button type="button" class="btn btn-default custom grey_1 examples">A(
                    0° ;070°E)<br>B(20°S;120°W)
                </button>
                <button type="button" class="btn btn-default custom grey_1 examples">
                    A(40°S;090°W)<br>B( 0° ;130°W)
                </button>
            </div>

            <br><br><br>

            <div class="cases-label" id="special-cases">Special Cases</div>
            <div class="btn-group">
                <button type="button" class="btn btn-default custom grey_1 examples">
                    A(90°N )<br>B(90°S )
                </button>
                <button type="button" class="btn btn-default custom grey_1 examples">
                    A(40°N;030°E)<br>B(40°S;150°W)
                </button>
            </div>
            <br>
            <div class="btn-group margin">
                <button type="button" class="btn btn-default custom grey_1 examples">
                    A(20°N;030°E)<br>B(40°S;030°E)
                </button>
                <button type="button" class="btn btn-default custom grey_1 examples">A(
                    0° ;010°E)<br>B( 0° ;050°W)
                </button>
            </div>

        </div>


        <div class="well custom_well_2">
            <textarea name="primary-result" th:field="*{primaryResultMessage}" disabled>  </textarea>
            <div style="margin-top: 2px;">Piotr Choczyński (<a href=mailto:piotr@choczynski.pl
                                                               title="Orthodrome Calculator question">piotr@choczynski.pl</a>)
                2018
            </div>
        </div>
        <div class="well custom_well_2">
            <textarea name="secondary-result" th:field="*{secondaryResultMessage}" disabled>  </textarea>
            <div style="margin-top: 2px;" id="title">Orthodrome Calculator</div>
        </div>
    </div>

</form>
</body>
</html>